* text=auto !eol
_build/__init__.bat -text
_build/_archive/log4cxx/README.txt -text
_build/_archive/log4cxx/__init__.bat -text
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/apache-log4cxx-0.10.0-win7-win32.patch -text
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/apache-log4cxx-0.10.0-win7-x64.patch -text
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/apr-util/aprutil.vcxproj -text
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/apr-util/aprutil.vcxproj.filters -text
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/apr-util/xml/expat/lib/xml.vcxproj -text
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/apr-util/xml/expat/lib/xml.vcxproj.filters -text
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/apr/apr.vcxproj -text
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/apr/apr.vcxproj.filters -text
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/log4cxx/log4cxx.sln -text
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/log4cxx/log4cxx.vcxproj -text
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/log4cxx/log4cxx.vcxproj.filters -text
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/apr-util/aprutil.vcxproj -text
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/apr-util/aprutil.vcxproj.filters -text
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/apr-util/xml/expat/lib/xml.vcxproj -text
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/apr-util/xml/expat/lib/xml.vcxproj.filters -text
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/apr/apr.vcxproj -text
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/apr/apr.vcxproj.filters -text
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/log4cxx/projects/log4cxx.sln -text
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/log4cxx/projects/log4cxx.vcxproj -text
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/log4cxx/projects/log4cxx.vcxproj.filters -text
_build/_archive/log4cxx/build.bat -text
_build/_archive/log4cxx/build.impl.bat -text
_build/_archive/log4cxx/configure.bat -text
_build/_archive/omniORB/README.txt -text
_build/_archive/omniORB/__init__.bat -text
_build/_archive/omniORB/_patches/omniORB-4.2.6346/config/x86_win32_vs_12/config.mk -text
_build/_archive/omniORB/_patches/omniORB-4.2.6346/config/x86_win64_vs_14/config.mk -text
_build/_archive/omniORB/_patches/omniORB-4.2.6346/mk/platforms/x86_win64_vs_14.mk -text
_build/_archive/omniORB/build.bat -text
_build/_archive/omniORB/build.impl.bat -text
_build/_archive/omniORB/build.sh -text
_build/_archive/omniORB/configure.bat -text
_build/_archive/tao/README.txt -text
_build/_archive/tao/__init__.bat -text
_build/_archive/tao/build.bat -text
_build/_archive/tao/build.impl.bat -text
_build/_archive/tao/build.sh.old -text
_build/_archive/tao/cleanup_TAO.bat -text
_build/_archive/tao/cleanup_TAO_ACE.bat -text
_build/_archive/tao/cleanup_all.lst.old -text
_build/_archive/tao/cleanup_temp.bat -text
_build/_archive/tao/configure.bat -text
_build/boost/README.txt -text
_build/boost/__init__.bat -text
_build/boost/_patches/msvc14_boost_1_57_0/boost/config/compiler/visualc.hpp -text
_build/boost/build.bat -text
_build/boost/build.impl.bat -text
_build/boost/configure.bat -text
_build/boost/preconfigure.bat -text
_build/cleanup.impl.bat -text
_build/del_file_pttn.bat -text
_build/gmock/README.txt -text
_build/gmock/__init__.bat -text
_build/gmock/build.bat -text
_build/gmock/build.impl.bat -text
_build/gmock/cleanup_all.bat -text
_build/gmock/cleanup_all.lst -text
_build/gmock/cleanup_temp.bat -text
_build/gmock/cleanup_temp.lst -text
_build/gmock/configure.bat -text
_build/gmock/preconfigure.bat -text
_build/gtest/README.txt -text
_build/gtest/__init__.bat -text
_build/gtest/_patches/1.7.0/CMakeLists.txt -text
_build/gtest/_patches/1.8.0/CMakeLists.txt -text
_build/gtest/build.bat -text
_build/gtest/build.impl.bat -text
_build/gtest/configure.bat -text
_build/gtest/preconfigure.bat -text
_build/log4cplus/README.txt -text
_build/log4cplus/__init__.bat -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/CLFSAppender.props -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/CLFSAppender.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/MSTTSAppender.props -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/MSTTSAppender.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/Qt4DebugAppender.props -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/Qt4DebugAppender.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/Qt5DebugAppender.props -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/Qt5DebugAppender.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/log4cplus.props -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/log4cplus.sln -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/log4cplus.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/log4cplus.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/log4cplusS.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/log4cplusS.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/log4cplus_debug.props -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/log4cplus_release.props -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/log4cplus_static.props -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/loggingserver.props -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/loggingserver.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/loggingserver.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/appender_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/appender_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/configandwatch_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/configandwatch_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/customloglevel_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/customloglevel_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/fileappender_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/fileappender_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/filter_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/filter_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/hierarchy_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/hierarchy_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/log4cplus_tests.props -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/loglog_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/loglog_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/ndc_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/ndc_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/ostream_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/ostream_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/patternlayout_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/patternlayout_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/performance_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/performance_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/priority_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/priority_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/propertyconfig_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/propertyconfig_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/socket_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/socket_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/thread_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/thread_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/timeformat_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/timeformat_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/CLFSAppender.props -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/CLFSAppender.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/MSTTSAppender.props -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/MSTTSAppender.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/Qt4DebugAppender.props -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/Qt4DebugAppender.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/Qt5DebugAppender.props -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/Qt5DebugAppender.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/log4cplus.props -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/log4cplus.sln -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/log4cplus.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/log4cplus.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/log4cplusS.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/log4cplusS.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/log4cplus_debug.props -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/log4cplus_release.props -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/log4cplus_static.props -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/loggingserver.props -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/loggingserver.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/loggingserver.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/appender_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/appender_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/configandwatch_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/configandwatch_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/customloglevel_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/customloglevel_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/fileappender_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/fileappender_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/filter_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/filter_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/hierarchy_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/hierarchy_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/log4cplus_tests.props -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/loglog_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/loglog_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/ndc_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/ndc_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/ostream_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/ostream_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/patternlayout_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/patternlayout_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/performance_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/performance_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/priority_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/priority_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/propertyconfig_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/propertyconfig_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/socket_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/socket_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/thread_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/thread_test.vcxproj.filters -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/timeformat_test.vcxproj -text
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/timeformat_test.vcxproj.filters -text
_build/log4cplus/build.bat -text
_build/log4cplus/build.impl.bat -text
_build/log4cplus/configure.bat -text
_build/log4cplus/preconfigure.bat -text
_build/qwt/README.txt -text
_build/qwt/__init__.bat -text
_build/qwt/_patches/QT4.8.6/mkspecs/win32-msvc2015/qmake.conf -text
_build/qwt/_patches/QT4.8.6/mkspecs/win32-msvc2015/qplatformdefs.h -text
_build/qwt/_patches/QT4.8.6/mkspecs/win64-msvc2015/qmake.conf -text
_build/qwt/_patches/QT4.8.6/mkspecs/win64-msvc2015/qplatformdefs.h -text
_build/qwt/_patches/QT5.6.0/mkspecs/common/msvc-desktop-x64.conf -text
_build/qwt/_patches/QT5.6.0/mkspecs/win64-msvc2015/qmake.conf -text
_build/qwt/_patches/QT5.6.0/mkspecs/win64-msvc2015/qplatformdefs.h -text
_build/qwt/build.bat -text
_build/qwt/build.impl.bat -text
_build/qwt/configure.bat -text
_build/reg_env.bat -text
_tools/__init__.bat -text
_tools/cmd_admin.lnk -text
_tools/get_datetime.bat -text
_tools/std/__init__.bat -text
_tools/std/allocate_temp_dir.bat -text
_tools/std/chcp.bat -text
_tools/std/free_temp_dir.bat -text
_tools/std/restorecp.bat -text
_tools/std/xcopy_dir.bat -text
_tools/std/xcopy_file.bat -text
_tools/wtee.exe -text
_tools/xcopy/__init__.bat -text
_tools/xcopy/convert_excludes_to_7zip.bat -text
_tools/xcopy/convert_excludes_to_robocopy.bat -text
_tools/xcopy/convert_excludes_to_xcopy.bat -text
/changelog.txt -text
/environment.vars -text
