/*
_build/*
_build/_archive/log4cxx/*.log
_build/_archive/log4cxx/*.user.bat
_build/_archive/log4cxx/_patches/*
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/*
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/apr-util/*
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/apr-util/xml/*
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/apr-util/xml/expat/*
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/apr-util/xml/expat/lib/*
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/apr/*
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc12/log4cxx/*
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/*
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/apr-util/*
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/apr-util/xml/*
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/apr-util/xml/expat/*
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/apr-util/xml/expat/lib/*
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/apr/*
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/log4cxx/*
_build/_archive/log4cxx/_patches/log4cxx-0.10.0/msvc14/log4cxx/projects/*
_build/_archive/omniORB/*.log
_build/_archive/omniORB/*.user.bat
_build/_archive/omniORB/_patches/*
_build/_archive/omniORB/_patches/omniORB-4.2.6346/config/*
_build/_archive/omniORB/_patches/omniORB-4.2.6346/config/x86_win32_vs_12/*
_build/_archive/omniORB/_patches/omniORB-4.2.6346/config/x86_win64_vs_14/*
_build/_archive/omniORB/_patches/omniORB-4.2.6346/mk/*
_build/_archive/omniORB/_patches/omniORB-4.2.6346/mk/platforms/*
_build/_archive/tao/*.log
_build/_archive/tao/*.user.bat
_build/boost/*.log
_build/boost/*.user.bat
_build/boost/_patches/*
_build/boost/_patches/msvc14_boost_1_57_0/*
_build/boost/_patches/msvc14_boost_1_57_0/boost/*
_build/boost/_patches/msvc14_boost_1_57_0/boost/config/*
_build/boost/_patches/msvc14_boost_1_57_0/boost/config/compiler/*
_build/gmock/*.log
_build/gmock/*.user.bat
_build/gtest/*.log
_build/gtest/*.user.bat
_build/gtest/_patches/*
_build/gtest/_patches/1.7.0/*
_build/gtest/_patches/1.8.0/*
_build/log4cplus/*.log
_build/log4cplus/*.user.bat
_build/log4cplus/_patches/*
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/*
_build/log4cplus/_patches/log4cplus-1.2.0/msvc12/tests/*
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/*
_build/log4cplus/_patches/log4cplus-1.2.0/msvc14/tests/*
_build/qwt/*.log
_build/qwt/*.user.bat
_build/qwt/_patches/*
_build/qwt/_patches/QT4.8.6/*
_build/qwt/_patches/QT4.8.6/mkspecs/*
_build/qwt/_patches/QT4.8.6/mkspecs/win32-msvc2015/*
_build/qwt/_patches/QT4.8.6/mkspecs/win64-msvc2015/*
_build/qwt/_patches/QT5.6.0/*
_build/qwt/_patches/QT5.6.0/mkspecs/*
_build/qwt/_patches/QT5.6.0/mkspecs/common/*
_build/qwt/_patches/QT5.6.0/mkspecs/win64-msvc2015/*
_src/*
vc2017_x86/*
