* text=auto !eol
/README_EN.txt -text
/__init__.bat -text
/__init__.xsh -text
_config/config.env.yaml.in -text
_config/config.private.yaml.in -text
_config/config.vars.in -text
_config/config.yaml.in -text
_config/tmpl/__init__.bat.in -text
_config/tmpl/configure.bat.in -text
_config/tmpl/configure.yaml.bat.in -text
_config/tmpl/{HUB}~git~fetch.bat.in -text
_config/tmpl/{HUB}~git~init.bat.in -text
_config/tmpl/{HUB}~git~pull.bat.in -text
_config/tmpl/{HUB}~git~reset.bat.in -text
_config/tmpl/{HUB}~svn~checkout.bat.in -text
_config/tmpl/{HUB}~svn~relocate.bat.in -text
_config/tmpl/{HUB}~svn~update.bat.in -text
_scripts/01_checkout/01_configure.vars.bat -text
_scripts/01_checkout/02_configure.private.bat -text
_scripts/01_checkout/03_configure.yaml.bat -text
_scripts/01_checkout/04_configure.bat -text
_scripts/01_checkout/__init__.bat -text
_scripts/01_checkout/__init__.sh -text
_scripts/__init__.bat -text
/changelog.txt -text
/environment.vars -text
/install_python_modules.bat -text
/license.txt -text
