* text=auto !eol
/README_EN.linux_x86_64.txt -text
/README_EN.python_xonsh.known_issues.txt -text
/README_EN.txt -text
/__init__.bat -text
/__init__.sh -text
/__init__.xsh -text
_config/config.env.yaml.in -text
_config/config.private.yaml.in -text
_config/config.vars.in -text
_config/config.yaml.in -text
_config/tmpl/__init__.bat.in -text
_config/tmpl/__init__.sh.in -text
_config/tmpl/{HUB}~git~fetch.bat.in -text
_config/tmpl/{HUB}~git~fetch.sh.in -text
_config/tmpl/{HUB}~git~init.bat.in -text
_config/tmpl/{HUB}~git~init.sh.in -text
_config/tmpl/{HUB}~git~makedirs.bat.in -text
_config/tmpl/{HUB}~git~makedirs.sh.in -text
_config/tmpl/{HUB}~git~pull.bat.in -text
_config/tmpl/{HUB}~git~pull.sh.in -text
_config/tmpl/{HUB}~git~reset.bat.in -text
_config/tmpl/{HUB}~git~reset.sh.in -text
_config/tmpl/{HUB}~svn~checkout.bat.in -text
_config/tmpl/{HUB}~svn~checkout.sh.in -text
_config/tmpl/{HUB}~svn~makedirs.bat.in -text
_config/tmpl/{HUB}~svn~makedirs.sh.in -text
_config/tmpl/{HUB}~svn~relocate.bat.in -text
_config/tmpl/{HUB}~svn~relocate.sh.in -text
_config/tmpl/{HUB}~svn~update.bat.in -text
_config/tmpl/{HUB}~svn~update.sh.in -text
_scripts/01_checkout/01_configure.vars.bat -text
_scripts/01_checkout/01_configure.vars.sh -text
_scripts/01_checkout/02_configure.private.bat -text
_scripts/01_checkout/02_configure.private.sh -text
_scripts/01_checkout/03_configure.root_yaml.bat -text
_scripts/01_checkout/03_configure.root_yaml.sh -text
_scripts/01_checkout/04_configure.project_yaml.bat -text
_scripts/01_checkout/04_configure.project_yaml.sh -text
_scripts/01_checkout/05_configure.bat -text
_scripts/01_checkout/05_configure.sh -text
_scripts/01_checkout/06_configure.chmod.sh -text
_scripts/01_checkout/__init__.bat -text
_scripts/01_checkout/__init__.sh -text
_scripts/__init__.bat -text
_scripts/__init__.sh -text
/changelog.txt -text
/configure.bat -text
/configure.sh -text
/environment.vars.in -text
/install_python_modules.bat -text
/install_python_modules.sh -text
/license.txt -text
