/*
_build/*
_build/boost/*
_build/boost/_patches/*
_build/boost/_patches/msvc14_boost_1_57_0/*
_build/boost/_patches/msvc14_boost_1_57_0/boost/*
_build/boost/_patches/msvc14_boost_1_57_0/boost/config/*
_build/boost/_patches/msvc14_boost_1_57_0/boost/config/compiler/*
_build/gmock/*
_build/gtest/*
_build/gtest/_patches/*
_build/gtest/_patches/1.7.0/*
_build/gtest/_patches/1.8.0/*
_build/log4cplus/*
_build/log4cplus/_patches/*
_build/log4cplus/_patches/msvc12/*
_build/log4cplus/_patches/msvc12/tests/*
_build/log4cplus/_patches/msvc14/*
_build/log4cplus/_patches/msvc14/tests/*
_build/log4cxx/*
_build/log4cxx/_patches/*
_build/log4cxx/_patches/msvc12/*
_build/log4cxx/_patches/msvc12/apr-util/*
_build/log4cxx/_patches/msvc12/apr-util/xml/*
_build/log4cxx/_patches/msvc12/apr-util/xml/expat/*
_build/log4cxx/_patches/msvc12/apr-util/xml/expat/lib/*
_build/log4cxx/_patches/msvc12/apr/*
_build/log4cxx/_patches/msvc12/log4cxx/*
_build/log4cxx/_patches/msvc14/*
_build/log4cxx/_patches/msvc14/apr-util/*
_build/log4cxx/_patches/msvc14/apr-util/xml/*
_build/log4cxx/_patches/msvc14/apr-util/xml/expat/*
_build/log4cxx/_patches/msvc14/apr-util/xml/expat/lib/*
_build/log4cxx/_patches/msvc14/apr/*
_build/log4cxx/_patches/msvc14/log4cxx/*
_build/log4cxx/_patches/msvc14/log4cxx/projects/*
_build/omniORB/*
_build/omniORB/_patches/*
_build/omniORB/_patches/config/*
_build/omniORB/_patches/config/x86_win32_vs_12/*
_build/omniORB/_patches/config/x86_win64_vs_14/*
_build/omniORB/_patches/mk/*
_build/omniORB/_patches/mk/platforms/*
_build/qwt/*
_build/qwt/_patches/*
_build/qwt/_patches/QT4.8.6/*
_build/qwt/_patches/QT4.8.6/mkspecs/*
_build/qwt/_patches/QT4.8.6/mkspecs/win32-msvc2015/*
_build/qwt/_patches/QT4.8.6/mkspecs/win64-msvc2015/*
_build/qwt/_patches/QT5.6.0/*
_build/qwt/_patches/QT5.6.0/mkspecs/*
_build/qwt/_patches/QT5.6.0/mkspecs/common/*
_build/qwt/_patches/QT5.6.0/mkspecs/win64-msvc2015/*
_build/tao/*
_common/*
_common/libiconv/*
_common/libiconv/libiconv-1.13.1-win64-20100707/*
_common/libiconv/libiconv-1.9.2-1/*
_common/msgpack/*
_common/msgpack/msgpack-2.1.1/*
_common/rapidxml/*
_common/rapidxml/rapidxml-1.13/*
_common/swig/*
_common/swig/swigwin-3.0.10/*
_common/tbb/*
_common/tbb/tbb2017_20161128oss/*
_src/*
vc14_x64/*
vc14_x64/boost/*
vc14_x64/googletest/*
vc14_x64/googletest/googletest-release-1.8.0/*
vc14_x64/googletest/googletest-release-1.8.0/googlemock/*
vc14_x64/googletest/googletest-release-1.8.0/googletest/*
vc14_x64/log4cplus/*
vc14_x64/log4cplus/log4cplus-1.2.0/*
vc14_x64/log4cxx/*
vc14_x64/log4cxx/apr-util/*
vc14_x64/log4cxx/apr/*
vc14_x64/log4cxx/log4cxx-0.10.0/*
vc14_x64/omniORB/*
vc14_x64/omniORB/omniORB_branch_4_2_6333/*
vc14_x64/qwt/*
vc14_x64/tao/*
vc14_x64/tao/6.3.3/*
vc14_x86/*
vc14_x86/boost/*
vc14_x86/googletest/*
vc14_x86/googletest/googletest-release-1.8.0/*
vc14_x86/googletest/googletest-release-1.8.0/googlemock/*
vc14_x86/googletest/googletest-release-1.8.0/googletest/*
vc14_x86/log4cplus/*
vc14_x86/log4cplus/log4cplus-1.2.0/*
vc14_x86/log4cxx/*
vc14_x86/log4cxx/apr-util/*
vc14_x86/log4cxx/apr/*
vc14_x86/log4cxx/log4cxx-0.10.0/*
vc14_x86/omniORB/*
vc14_x86/omniORB/omniORB_branch_4_2_6333/*
vc14_x86/omniORB/omniORB_branch_4_2_6346/*
vc14_x86/qwt/*
vc14_x86/qwt/qwt-6.1.3-build/*
vc14_x86/tao/*
vc14_x86/tao/6.4.1/*
vc2017_x86/*
